.test {
  background-color: blue;
}

.test2 {
  background-color: pink;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.box {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}
