.test {
  background-color: blue;
}

.test2 {
  /* background-color: pink; */
border: 2px solid green;
height: 50px;
width: 50px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.box {
  display: flex;
  flex-direction: column;
}

.box input {
  width: 20%;
}
